:root {
    --red: #FF0000;
    --shadow-pink: #FF00004D;
    --dark-grey: #28272C;
    --grey: #6A6A6A;
    --light-grey: #B2B2B2;
    --border-grey: #D1D1D1;
    --container-width: 1088px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(250, 250, 250)
}

.first-container {
    width: 1366px;    
    border: 1px solid rgb(230, 230, 230);
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: 1088px;
}

.background {    
    background-image: url(../images/main-banner.jpg);  
}

header {
    min-height: 736px;    
    background-color: rgba(0, 0, 0, 0.25);
    background-size: cover;    
}

.navigation {
    height: 93px;
    border: 2px solid #FFFFFF33;    
}

.navigation > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
}

.sharing-img {
    position: absolute;
    top: 6px;
    width: 31px;
    height: 35px;    
    display: inline-block;    
}

.car, .sharing {
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    line-height: 47px;
}

.car {
    color: var(--red);
    margin-right: 5px;
    padding-left: 42px;
}

.sharing {
    color: white;
}

nav > ul {
    list-style: none;    
}

nav li {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 22px;
    padding: 0 22px;
    line-height: 90px;
}

nav li:hover {
    background-color: #FFFFFF33;
}

main {

}

.blog {

}

.service {

}

.contact {

}

footer {

}

.footer {

}